@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.container {
  margin-right: 10%;
  margin-left: 10%;
}

.header {
  margin-top: 6%;
  margin-bottom: 15px;
}

.inbox-container {
  border: 1px solid lightgray;
  border-radius: 4px;
  background: #fff;
  height: 300px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.message-inbox {
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
}

.message-inbox:hover {
  background: #f2f2f2;
}

.message-inbox > p {
  color: black;
  margin-left: 10px;
}

.message-inbox > img {
  border-radius: 25px;
}

.message-inbox > a:hover {
  color: rgb(0, 140, 255);
}

@media (min-width: 481px) and (max-width: 1024px) {
  .container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 480px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .received {
    margin-top: 8%;
  }
}
